.privacy{
    width: 90%;
    height: auto;
    padding: 20px;
    margin: 10% 5%;

    h1{
        font-size: 2rem;
        font-weight: 600;
        color: black;
        line-height: 50px;
    }
    p,li{
        font-size: 1.05rem;
        line-height: 30px;
        color: gray;
    }
}