<div class="privacy">
  <h1>Welcome to Macreel Infosoft Pvt. Ltd.</h1>

  <p>
    We kindly request you to carefully review our Terms & Conditions to prevent
    any potential conflicts in the future. To maintain the trust of our clients,
    we prioritize transparency by sharing all relevant terms and conditions in
    the following sections.
  </p>

  <p>
    <b>Web Hosting Agreement and Terms of Service:</b><br> These terms govern your use of
    the Macreel Infosoft Pvt. Ltd. website (https://macreel.co.in/) and any
    products or services you purchase from us. Please ensure that you read and
    agree to all terms before signing up. If you have any questions regarding
    our services, pricing, or policies, feel free to contact us. Macreel
    Infosoft Pvt. Ltd. reserves the right to modify its policies and terms at
    any time. We serve a diverse clientele, and we prioritize their security.
  </p>

  <p>
    <b>Changes to Packages and Pricing:</b><br> Macreel Infosoft Pvt. Ltd. reserves the
    right to modify the prices, services, and packages we offer at any time. The
    packages, prices, and services listed on our website are subject to change
    without prior notice. We may increase service prices at our discretion, and
    new prices will apply to new deals. However, orders placed before any price
    changes will be honored at the previous rates.
  </p>

  <p>
    Work will commence only after we have received payment in our account. It is
    your responsibility to provide all necessary information to verify the
    payment. If we do not hear from you for more than 30 days, the project will
    be placed on hold. If there is no communication for over 180 days, the
    project will be considered closed.
  </p>

  <h1>Late/Non-Payment:</h1>

  <ul>
    <li>
      To restart a project previously stopped due to late or non-payment, a fee
      of ₹5000 will be charged.
    </li>
    <li>
      If payment for renewal is delayed or missed, all technical support will be
      suspended 7 days after the due date.
    </li>
    <li>
      After 14 days of non-payment, your website and related services will be
      suspended.
    </li>
    <li>
      After 30 days of non-payment, your website and data will be deleted from
      our systems.
    </li>
    <li>
      In the event of a credit card chargeback or transaction reversal, all your
      data, including your website and emails, will be immediately deleted.
    </li>
    <li>
      We value our customers and will make every effort to contact you before
      terminating your services. However, it is your responsibility to ensure
      that your contact and billing information is accurate.
    </li>
  </ul>

  <p>
    <b>Regular Updates of Details:</b> We rely on the contact information you provide
    to reach you. If you do not receive our communications due to outdated
    contact details, we cannot be held responsible. It is the client’s duty to
    keep their information up to date, and we will not be liable for any actions
    taken due to a failure to receive or respond to notices.
  </p>
  <h1>Spam Policy:</h1>
  <p>
    We enforce a zero-tolerance policy against Unsolicited Commercial Email
    (UCE) or SPAM on our network. None of our clients may use our network to
    manage or distribute UCE or SPAM. Resellers of Macreel Infosoft Pvt. Ltd.
    are also prohibited from hosting or facilitating UCE from other networks.
    Violations of this policy may result in severe penalties, including
    immediate termination of services. We will investigate any reported
    violations and may restrict access to our network during the investigation.
    If a violation is confirmed, we reserve the right to cancel the account
    without notice and pursue civil action to cover investigation costs. If the
    violation is criminal, we may notify law enforcement. First-time violations
    will incur a ₹5000 administrative fee, with account termination. Repeat
    violations will incur a ₹7500 fee and immediate account termination. We
    strongly advise our resellers to implement similar policies for their
    clients. We do not allow mass mailing from our servers and recommend using
    third-party services or a dedicated server for such activities.
  </p>
  <p>
    <b>Prohibited Use of Services and Products: </b>The use of our services is
    governed by company policies, which all clients must follow. Clients may
    only use our services and products in ways consistent with their intended
    purpose, as determined by the company. If you are unsure whether an intended
    use is permitted, please contact us for clarification.
  </p>

  <h1>General Prohibitions:</h1>

  <p>
    <b>Illegal Activities:</b> The transmission, storage, or dissemination of any
    data/material/information that violates any law or regulation is strictly
    prohibited. We reserve the right to cooperate with legal authorities during
    the investigation of any alleged criminal activity.
  </p>
  <p>
    <b>Harm or Threats to Others:</b> Clients may not use our services or products to
    harm or attempt to harm others or to distribute material that promotes
    physical injury or property destruction.
  </p>
  <p>
    <b>Copyright or Trademark Infringement:</b> Clients are prohibited from using our
    services or products to distribute material that infringes on any copyright,
    patent, trademark, or other proprietary rights of third parties. This
    includes unauthorized copying of copyrighted material and illegal
    distribution of software. Clients are also prohibited from collecting or
    attempting to collect personal information about third parties without their
    consent.
  </p>
  <p>
    <b>System and Network Abuse:</b> Violations of system or network security are
    strictly forbidden and may result in criminal and civil liability. We will
    take legal action against any activities that attempt to compromise network
    security, such as introducing malicious programs, disrupting internet
    communications, or unauthorized access to data. Network monitoring and other
    activities that disrupt the company’s operations are also prohibited.
  </p>

  <h1>Loss of Backup and Data:</h1>
  <p>
    Using our services is at your own risk. Macreel Infosoft Pvt. Ltd. is not
    responsible for the data or files stored on your account. You are
    responsible for maintaining proper backups of your data and files. We
    perform weekly backups for server restoration purposes, but clients are
    responsible for their own data.
  </p>
  <p>
    <b>Web Server:</b> Complimentary web hosting is provided with our services/packages
    as stated in the final proposal. However, clients do not own the web server.
  </p>
  <p>
    <b>Content Management System (CMS):</b> Our CMS is proprietary and not owned by the
    client. It is used to manage website content and is only available for use
    on our server.
  </p>
  <p>
    <b>Database Software:</b> We create our own databases, such as MySQL, which clients
    do not own. Clients own only their website data and content stored in the
    database if they have created it.
  </p>
  <p>
    <b>Source Code (Other Custom Programming):</b> The source code used to develop your
    website is not owned by the client. It is created by our team and is
    essential for the functionality of your website. HTML/CSS/JavaScript, which
    is generated by the source code, is owned by the client after project
    completion and final payment.
  </p>
  <p>
    <b>Visual Design:</b> The visual design, including layout and graphical assets, is
    owned by the client after project completion and final payment.
  </p>
  <p>
    <b>Text Content:</b> The client owns the website text and content they or their
    authors have created.
  </p>
  <p>
    Clients own any photographs they have taken and provided. Digitized photos
    used on the website are owned by the client if they provided them.
  </p>
  <p>
    <b>Domain Name:</b> Clients do not own their domain name, even if they are the
    registered owner. Domain name registration grants exclusive usage rights
    until the contract expires but does not confer legal ownership.
  </p>
  <p>
    <b>Legal Ownership of the Website:</b> Clients do not own the domain name, web
    server platform, web platform, language, database software, or CMS used to
    build the website.
  </p>
  <p>
    <b>Conclusion:</b> Macreel Infosoft Pvt. Ltd. will not share its CMS technology,
    sub-domains, or web hosting details with clients. We retain ownership of the
    back-end code, templates, and customized website elements developed by our
    team. Clients are entitled to receive the HTML/CSS/JavaScript, visual
    design, and text content after completing the project and receiving final
    payment.
  </p>
  <p>
    <b>Web Hosting Details:</b> Maintaining website and server security is our top
    priority. Therefore, Macreel Infosoft Pvt. Ltd. will not share web hosting
    credentials with clients. Web hosting is a complimentary service provided
    with our packages, and we reserve the right to deny the installation of
    third-party software or CMS on our servers.
  </p>
  <p>
    <b>Domain Details:</b> Macreel Infosoft Pvt. Ltd. will not share domain credentials
    with clients unless explicitly requested. If clients insist on managing
    their control panel, we will provide domain credentials only after receiving
    a written email acknowledging that the client will be solely responsible for
    any errors resulting from changes made.
  </p>
  <p>
    <b>Working on Client’s Server:</b> Websites, portals, or web applications designed
    and developed by Macreel Infosoft Pvt. Ltd. will not be hosted on a client’s
    server.
  </p>
  <h1>Support:</h1>

  <p>
    We value our customers and provide support through email at
    {{'sales@macreel.co.in'}}. We offer limited support for third-party software and
    basic functions such as DNS management and account maintenance. We do not
    provide support for free add-ons, third-party scripts, or software bugs. Web
    development, third-party script installation, and day-to-day administration
    tasks are not the responsibility of Macreel Infosoft Pvt. Ltd. We do,
    however, assist with initial server setup, including domains, software
    configuration, and email accounts. For additional support, such as SSL
    certificates, please contact us.
  </p>

  <h1>Privacy Policy:</h1>
  <p>
    All information you provide will be used in accordance with applicable laws.
    Your data is safe with us and will not be shared with third parties without
    your consent. However, it may be shared within the Macreel Infosoft Pvt.
    Ltd. group of companies. To improve your browsing experience and facilitate
    service use, we use temporary cookies. Any updates, modifications, or
    deletions of your data will only be made with your written consent.
  </p>
  <h1>Payment and Refund Policy:</h1>
  <p>
    Macreel Infosoft Pvt. Ltd. accepts payments through standard modes only.
    Once an order is placed, it cannot be canceled as it is processed
    immediately. Refunds are not provided under any circumstances. The company
    does not share content via external media (e.g., CD, pen drive) to avoid
    technical issues. Clients are solely responsible for credentials and website
    content once provided. All payments must be made in favor of “Macreel
    Infosoft Pvt. Ltd.” We are not liable for any damages resulting from
    fraudulent transactions with unauthorized individuals or organizations.
  </p>
</div>
