<div class="main">
  <div class="text_area">
    <h1>Get to the Top of Google with Macreel Infosoft Pvt. Ltd.</h1>
    <p>
      In today’s digital world, being seen on Google isn’t just important—it’s
      essential for your business to grow and be trusted by customers. At
      Macreel Infosoft Pvt. Ltd., we’re here to help you reach the #1 spot on
      Google with our Top-Notch Google Marketing Services in Delhi. Let’s make
      sure your business doesn’t get left behind while your competitors take the
      lead.
    </p>
  </div>
  <div class="img_area">
    <img
      src="assets/google-img-10.png"
      alt="Macreel Website"
      title="Custom Web Design"
    />
  </div>
</div>

<div class="main">
  <div class="img_area">
    <img
      src="assets/local-img-seo.png"
      alt="Responsive Design img"
      title="Custom Design"
    />
  </div>

  <div class="text_area">
    <h1>Why Choose Us for Your Google Marketing?</h1>
    <p>
      <b>Proven Success:</b> We’ve helped many businesses achieve great results, and
      we’re ready to do the same for you.
    </p>
    <p>
      <b>Support You Can Count On:</b> We’re here for you with ongoing support and
      complete transparency, so you always know what’s happening with your
      campaign.
    </p>
    <p>
      <b>Strategies That Work:</b> We don’t do one-size-fits-all. We create customized
      plans that fit your business, helping you grow and stay ahead of the game.
    </p>
    <p>
      <b>Regular Updates:</b> You’ll always know how your campaign is doing with our
      timely reports that show your progress in real time.
    </p>
    <p>
      <b>Staying Ahead of the Curve:</b> Google’s algorithms change constantly, but
      we’re always on top of it, tweaking our strategies to keep you at the top.
    </p>
  </div>
</div>
