.containers {
  width: 100%;
  overflow: hidden;
  // margin-top: 120px;

  .sliderBox {
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;

    .text{
      width: 100%;
      height: 100%;
      background-color: rgba(21, 41, 71, 0.527);
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: white;
      text-align: center;

      h1{
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 50px;
      }

      h3{
        font-size: 1.4rem;
        font-weight: 500;
      }
      h5{
        font-size: 1.1rem;
        line-height: 30px;
      }

      button{
        background-color: white;
        color: #00b36b;
        padding: 20px;
        border-radius: 2rem;
        width: 140px;
        font-size: 1rem;
        letter-spacing: 0px;
        transition: 0.4s;
        margin-top: 20px;
      }
      button:hover{
        background-color: #00b36b;
        color: white;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // filter: brightness(0.5);
    }
  }

  .experience {
    width: 80%;
    height: auto;
    float: left;
    margin-left: 10%;
    margin-top: 2%;

    .contents {
      width: 60%;
      height: 100%;
      float: left;

      .title_content {
        width: 100%;
        height: auto;
        float: left;

        h1 {
          font-weight: bold;
          font-size: 30px;
          line-height: 40px;
        }
        h6 {
          font-weight: 400;
          font-size: 14px;
          text-align: justify;
          margin-top: 10px;
          line-height: 25px;
          color: rgb(90, 89, 89);
          font-weight: 500;
        }
      }
      .box_content_area {
        width: 100%;
        height: auto;
        float: left;

        .boxes {
          width: 50%;
          height: 125px;
          float: left;
          margin-top: 20px;

          .icon_area {
            width: 30%;
            height: 100%;
            float: left;
            display: flex;
            justify-content: center;

            mat-icon {
              width: auto;
              height: auto;
              color: #00d084;
              font-size: 50px;
            }
          }
          button {
            width: 150px;
            height: 45px;
            background-color: #00d084;
            color: white;
            border-radius: 2rem;
            margin-left: 50px;
          }
          .box_title {
            width: 100%;
            height: 50px;

            h4 {
              font-size: 25px;
              font-weight: 500;
              color: black;
            }
            h6 {
              font-size: 15px;
              line-height: 22px;
              color: gray;
            }
          }
        }
      }
    }
    #image_content {
      width: 40%;

      img {
        width: 90%;
        height: 300px;
        margin-left: 5%;
        border-radius: 1rem;
        margin-left: 10%;
        object-fit: cover;
        margin-top: 5%;
      }
      #graph_img {
        height: 200px;
      }
    }
  }

  .services {
    width: 100%;
    height: auto;
    float: left;
    margin-top: 40px;

    .service_title {
      width: 100%;
      height: 100px;
      float: left;
      text-align: center;

      h1 {
        font-size: 28px;
        font-weight: bold;
      }
      h4 {
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        color: gray;
        font-weight: 500;
      }
    }
    .card_area {
      width: 80%;
      height: calc(100% - 100px);
      margin-left: 10%;
      display: flex;
      flex-wrap: wrap;

      .card {
        float: left;
        margin: 1%;
        background-color: rgb(248, 248, 248);
        border: none;
        transition: 0.5s;

        .btn {
          background-color: #00d084;
          color: white;
          border: none;
        }
        .card-title {
          font-size: 1.25rem;
          font-weight: 500;
        }
        .card-text {
          font-size: 15px;
          font-weight: 400;
          line-height: 25px;
          color: gray;
        }
      }
      .card:hover {
        color: #00d084;
        overflow: hidden;
        box-shadow: 2px 2px 2px rgb(218, 218, 218);

        img {
          transform: scale(1.08);
          transition: 0.4s ease-in-out;
        }
      }
    }
  }

  .features {
    width: 100%;
    height: auto;
    float: left;

    .feature_title {
      width: 100%;
      height: 150px;
      float: left;
      text-align: center;
      margin-top: 40px;

      h1 {
        font-size: 28px;
        font-weight: bold;
      }
      h4 {
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        color: gray;
        font-weight: 500;
      }
    }
    .feature_card_area {
      width: 80%;
      height: calc(100% - 150px);
      margin-left: 10%;
      margin-top: 20px;
      display: flex;
      gap: 15px;

      .card {
        width: 19rem;
        text-align: center;
        display: flex;
        align-items: center;
        margin-top: 5%;

        mat-icon {
          width: 50px;
          height: 50px;
          background-color: rgb(248, 248, 248);
          text-align: center;
          color: #00b36b;
          line-height: 60px;
          font-size: 2.5rem;
        }

        .card-title {
          font-size: 1.3rem;
          font-weight: 500;
          line-height: 25px;
        }
        .card-text {
          line-height: 30px;
        }
      }
      .card:hover {
        color: #00b36b;
        transition: 0.4s;
      }
    }
  }
}
.container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;

  button {
    padding: 10px 20px;
    border: none;
    background: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s, color 0.3s;

    &.active {
      background: #00d37f;
      color: white;
    }

    &:hover {
      background: #00b36b;
      color: white;
    }
  }
}

.benifits {
  width: 100%;
  margin-top: 40px;

  .buttons {
    width: 50%;

    button {
      border-radius: 2rem;
    }
  }

  .content {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 80%;

    img {
      width: 40%;
      border-radius: 10px;
    }

    .text {
      h2 {
        font-size: 24px;
        font-weight: bold;
      }
      p {
        font-size: 16px;
        line-height: 30px;
        color: #666;
      }
    }
  }
}

.faq_area {
  width: 100%;
  height: auto;
  float: left;

  .faq_title {
    width: 100%;
    height: 50px;
    color: rgb(63, 63, 63);
    text-align: center;
    margin-top: 60px;

    h1 {
      font-size: 25px;
      font-weight: 500;
    }
  }
  .question_area {
    width: 50%;
    height: auto;
    margin-top: 20px;
    float: left;

    .accordion {
      width: 70%;
      margin-left: 15%;

      button {
        height: 60px;
      }
    }
  }
  .image_area {
    width: 50%;
    height: 550px;
    float: left;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      border-radius: 1rem;
    }
  }
}
.our_products {
  width: 100%;
  height: auto;
  float: left;
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  .heading {
    width: 100%;
    height: auto;

    h1 {
      text-align: center;
      font-weight: bold;
      font-size: 2rem;
      line-height: 45px;
    }
    h6 {
      text-align: center;
      line-height: 20px;
      font-size: 14px;
    }
  }

  .image-scrolling {
    width: 100%;
    height: auto;
    float: left;
  }
}

.our_team {
  width: 100%;
  height: auto;
  float: left;
  margin-top: 50px;

  .team_title {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
      font-size: 1.3rem;
      color: #00b36b;
    }
    h1 {
      font-weight: bold;
      margin-top: -15px;
      font-size: 2rem;
    }
    h6 {
      line-height: 25px;
      font-size: 14px;
      text-align: center;
      color: gray;
    }
  }
  .team_card_area {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 40px;

    .team_card {
      width: 250px;
      height: 340px;
      background-color: whitesmoke;
      border-radius: 1rem;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      overflow: hidden;
      transition: 1s all;
      margin-bottom: 20px;

      .profile_img {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          object-fit: cover;
          z-index: 5;
          border: 3px dashed #00b36b;
          padding: 3px;
          transition: 1s;
        }
      }
      .details {
        width: 100%;
        height: calc(100% - 50%);
        z-index: 5;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;

        h1 {
          font-weight: 500;
          font-size: 1.2rem;
        }
        h4 {
          color: rgb(97, 97, 97);
          margin-top: -20px;
        }

        .links {
          width: 100%;
          height: 50px;
          display: flex;
          gap: 10px;
          justify-content: center;

          span {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            transition: 0.5s;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .overflow {
        width: 100%;
        height: 250px;
        background-color: #17303b;
        transition: 0.5s;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
      }
    }
    .team_card:hover {
      cursor: pointer;
      .overflow {
        margin-top: -250px;
      }
      .profile_img {
        img {
          border: 3px dashed whitesmoke;
        }
      }
      .details {
        color: white;

        h4 {
          color: white;
        }
      }
    }
  }
}

.trending_technology {
  width: 100%;
  height: 400px;
  float: left;
  margin-top: 40px;

  .tech_title {
    width: 100%;
    height: 150px;
    text-align: center;

    h1 {
      font-size: 2rem;
      font-weight: 600;
    }

    h6 {
      line-height: 25px;
      font-size: 14px;
      text-align: center;
      color: gray;
    }
  }
  .sliding_area {
    width: 100%;
    height: calc(100% - 150px);
  }
}
