<!-- <div class="contact_page">
  <div class="box"></div>
</div> -->


<div class="contact-container">
  <!-- Get in Touch Section -->
  <div class="contact-info">
    <h2>Get in Touch</h2>
    <mat-icon> location_on</mat-icon>
    <div class="info-item">
      <p>
        <strong>Address</strong><br />
        Macreel Info Soft Pvt. Ltd.<br />
        H 138, Infinity Business Park,<br />
        Sector - 63, Noida, Uttar Pradesh 201301
      </p>
    </div>
    <mat-icon> email</mat-icon>
    <div class="info-item">
      <p>
        <strong>Mail Us</strong><br />
        <a href="mailto:sales@macreel.co.in">salesmacreel.co.in</a>
      </p>
    </div>
    <mat-icon> call</mat-icon>
    <div class="info-item">
      <p>
        <strong>Call Us</strong><br />
        (+91) 8368648746
      </p>
    </div>
    <mat-icon>language</mat-icon>
    <div class="info-item">
      <p>
        <strong>Website</strong><br />
        <a href="https://macreel.co.in" target="_blank">macreel.co.in</a>
      </p>
    </div>
  </div>

  <!-- Reach Us Section -->
  <div class="contact-form">
    <h2>Reach Us</h2>
    <form (submit)="onSubmit()">
      <div class="form-row">
        <input type="text" placeholder="Enter your name" name="name" required />
        <input type="email" placeholder="Your Email" name="email" required />
      </div>
      <div class="form-row">
        <input type="text" placeholder="Phone" name="phone" />
        <input type="text" placeholder="Project" name="project" />
      </div>
      <input type="text" placeholder="Subject" name="subject" />
      <textarea placeholder="Message here" name="message" rows="4"></textarea>
      <button type="submit">Send Message</button>
    </form>
  </div>
</div>
