<!-- <footer>
  <div class="footer_menu_box_area">
    <div class="footer_boxs">
      <div class="title">
        <h1>Our Services</h1>
      </div>
    </div>
    <div class="footer_boxs"></div>
    <div class="footer_boxs"></div>
    <div class="footer_boxs"></div>
  </div>
  <div class="social_media_links"></div>
  <div class="copy_right"></div>
</footer> -->

<!-- <footer class="footer">
    <div class="footer-container">
      <div class="footer-column">
        <h4>Our Services</h4>
        <ul>
          <li>Website Designing</li>
          <li>Website Development</li>
          <li>Digital Marketing</li>
          <li>Responsive Web Designing</li>
          <li>Ecommerce Web Designing</li>
          <li>CRM</li>
          <li>Custom Web Designing</li>
          <li>Website Redesigning</li>
          <li>Static Web Designing</li>
          <li>Portal Web Development</li>
          <li>Custom Web Development</li>
          <li>CMS Web Development</li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Our Services</h4>
        <ul>
          <li>Software Development</li>
          <li>Mobile Application</li>
          <li>SEO</li>
          <li>Email Marketing</li>
          <li>Google Ranking Service</li>
          <li>Internet Marketing</li>
          <li>Google Promotion Service</li>
          <li>Facebook Promotion Service</li>
          <li>On Page SEO</li>
          <li>Off Page SEO</li>
          <li>Local SEO</li>
          <li>Technical SEO</li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Quick Links</h4>
        <ul>
          <li>About Us</li>
          <li>Features</li>
          <li>Blog</li>
          <li>Contact us</li>
          <li>FAQ</li>
        </ul>
        <h4>Privacy Policy & Terms</h4>
        <ul>
          <li>Privacy Policy</li>
          <li>Terms & Conditions</li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Contact Info</h4>
        <ul>
          <li>
            <i class="fa fa-map-marker"></i>
            Macreel Infosoft Pvt. Ltd. H - 138, Infinity Business Park, Sector 63, Noida - 201301
          </li>
          <li>
            <i class="fa fa-envelope"></i> salesmacreel.co.in
          </li>
          <li>
            <i class="fa fa-phone"></i> +91 836 864 8746
          </li>
          <li>
            <i class="fa fa-globe"></i> www.macreel.co.in
          </li>
        </ul>
        <div class="social-icons">
          <i class="fa fa-facebook"></i>
          <i class="fa fa-instagram"></i>
          <i class="fa fa-linkedin"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-youtube"></i>
          <i class="fa fa-pinterest"></i>
        </div>
      </div>
    </div>
  </footer> -->

<footer class="footer">
  <div class="footer-container">
    <div class="footer-column">
      <h4>Our Services</h4>
      <ul>
        <li><mat-icon>keyboard_arrow_right</mat-icon>Website Designing</li>
        <li><mat-icon>keyboard_arrow_right</mat-icon> Website Development</li>
        <li><mat-icon>keyboard_arrow_right</mat-icon> Digital Marketing</li>
        <li>
          <mat-icon>keyboard_arrow_right</mat-icon> Responsive Web Designing
        </li>
        <li>
          <mat-icon>keyboard_arrow_right</mat-icon> Ecommerce Web Designing
        </li>
        <li><mat-icon>keyboard_arrow_right</mat-icon> CRM</li>
        <li><mat-icon>keyboard_arrow_right</mat-icon> Custom Web Designing</li>
        <li><mat-icon>keyboard_arrow_right</mat-icon> Website Redesigning</li>
        <li><mat-icon>keyboard_arrow_right</mat-icon> Static Web Designing</li>
        <li>
          <mat-icon>keyboard_arrow_right</mat-icon> Portal Web Development
        </li>
        <li>
          <mat-icon>keyboard_arrow_right</mat-icon> Custom Web Development
        </li>
        <li><mat-icon>keyboard_arrow_right</mat-icon> CMS Web Development</li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Our Services</h4>
      <ul>
        <li><mat-icon>keyboard_arrow_right</mat-icon> Software Development</li>
        <li><mat-icon>keyboard_arrow_right</mat-icon> Mobile Application</li>
        <li><mat-icon>keyboard_arrow_right</mat-icon> SEO</li>
        <li><mat-icon>keyboard_arrow_right</mat-icon> Email Marketing</li>
        <li>
          <mat-icon>keyboard_arrow_right</mat-icon> Google Ranking Service
        </li>
        <li><mat-icon>keyboard_arrow_right</mat-icon> Internet Marketing</li>
        <li>
          <mat-icon>keyboard_arrow_right</mat-icon> Google Promotion Service
        </li>
        <li>
          <mat-icon>keyboard_arrow_right</mat-icon> Facebook Promotion Service
        </li>
        <li><mat-icon>keyboard_arrow_right</mat-icon> On Page SEO</li>
        <li><mat-icon>keyboard_arrow_right</mat-icon> Off Page SEO</li>
        <li><mat-icon>keyboard_arrow_right</mat-icon> Local SEO</li>
        <li><mat-icon>keyboard_arrow_right</mat-icon> Technical SEO</li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Quick Links</h4>
      <ul>
        <li><mat-icon>keyboard_arrow_right</mat-icon> About Us</li>
        <li><mat-icon>keyboard_arrow_right</mat-icon> Features</li>
        <li><mat-icon>keyboard_arrow_right</mat-icon> Blog</li>
        <li><mat-icon>keyboard_arrow_right</mat-icon> Contact us</li>
        <li><mat-icon>keyboard_arrow_right</mat-icon> FAQ</li>
      </ul>
      <h4>Privacy Policy & Terms</h4>
      <ul>
        <li><mat-icon>keyboard_arrow_right</mat-icon> Privacy Policy</li>
        <li><mat-icon>keyboard_arrow_right</mat-icon> Terms & Conditions</li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Contact Info</h4>
      <ul>
        <li>
          <mat-icon> location_on</mat-icon> Macreel Infosoft Pvt. Ltd.<br />H -
          138, Infinity Business Park, Sector 63, Noida - 201301
        </li>
        <li><mat-icon> email</mat-icon> salesmacreel.co.in</li>
        <li><mat-icon> call</mat-icon> +91 836 864 8746</li>
        <li><mat-icon>language</mat-icon> www.macreel.co.in</li>
      </ul>
    </div>
  </div>
  <div class="social-icons">
    <a href="#">
      <img src="assets/facebook.png" alt="macreel facebook" title="Facebook" />
    </a>
    <a href="#">
      <img
        src="assets/instagram.png"
        alt="macreel instagram"
        title="Instagram"
      />
    </a>
    <a href="">
      <img src="assets/linkedin.png" alt="macreel linkedin" title="Linkedin" />
    </a>
    <a href="">
      <img src="assets/youtube.png" alt="macreel youtube" title="Youtube" />
    </a>
    <a href="">
      <img src="assets/twitter.png" alt="macreel twitter" title="X.com" />
    </a>
    <a href="">
      <img
        src="assets/pinterest.png"
        alt="macreel pinetrest"
        title="Pinetrest"
      />
    </a>
    <a href="">
      <img src="assets/blogger.png" alt="macreel Blogger" title="Blogger" />
    </a>
  </div>
  <div class="footer-bottom">
    <p>© 2024 - 2025 Macreel Infosoft Pvt. Ltd., All rights reserved.</p>
  </div>
</footer>
