<div class="main">
  <div class="left_box">
    <img src="assets/team-2.jpg" alt="Manish Tyagi" title="macreel Director"  data-aos="fade-right" data-aos-duration="1000"/>
  </div>
  <div class="right_box">
    <h1  data-aos="fade-left">Manish Tyagi</h1>
    <span  data-aos="fade-left">Director (IT & Projects)</span><br />
    <p data-aos="fade-left" data-aos-duration="1000">
      Macreel Infosoft Pvt. Ltd., your premier choice for innovative IT
      solutions and cutting-edge technology!
    </p>
    <p data-aos="fade-left" data-aos-duration="1000">
      As the Director of Macreel Infosoft, I am thrilled to introduce you to our
      comprehensive range of services, designed to elevate your business in the
      digital era. Our commitment to excellence is evident in every project we
      undertake, whether it's website design & development, advanced software
      solutions, dynamic mobile app development, or effective digital marketing
      strategies.
    </p>
    <p data-aos="fade-left" data-aos-duration="1000">
      At Macreel Infosoft, we pride ourselves on being the top choice for IT
      Solutions in India. Our dedicated team is here to provide you with the
      <i><b>Best Mobile App Development Company in India</b></i
      >, superior physiology mobile apps, and the most effective digital
      marketing services. We understand the unique needs of each client and
      deliver tailored solutions that ensure your business stands out in a
      competitive market.
    </p>
    <p data-aos="fade-left" data-aos-duration="1000">
      What truly differentiate us is our customer-centric approach. We don’t
      just create technology; we build lasting partnerships. Our mission is to
      empower your business with innovative solutions and strategic advantages,
      making us one of the Top IT solution providers in the industry.
    </p>
  </div>
</div>
