<div class="about">
  <div class="experience">
    <div class="contents">
      <div class="title_content">
        <h1 data-aos="fade-right" data-aos-duration="1000">
          Macreel Infosoft Pvt. Ltd.
        </h1>
        <h6 data-aos="fade-down-left" data-aos-duration="1000">
          Macreel Infosoft Pvt. Ltd. is
          <b>Top IT Services Company in Delhi NCR, India</b> with a diversified
          portfolio and a precise approach to Website design & development,
          Software, Mobile App Development and Digital Marketing keeping your
          business goals in mind and providing a scalable solution for your
          business. We are a creative and committed web design, development and
          digital marketing agency in Noida (India), known for more than a
          decade to build the most beautiful & engaging UI designs for distinct
          businesses. We are developing customized Software and Mobile apps with
          the latest technologies to ensure swift, responsive & easy projects.
          Our post-launch support makes us the
          <b>Best Software Development Company in Noida, Delhi NCR.</b> As a
          leading Digital Marketing company, we specialize in propelling your
          business to new heights. Choose us to boost your online presence,
          engage your audience, and drive conversion.
        </h6>
      </div>
      <div class="box_content_area">
        <div class="boxes" data-aos="fade-right" data-aos-duration="1000">
          <div class="icon_area">
            <mat-icon>wb_incandescent</mat-icon>
          </div>
          <div class="box_title">
            <h4>Best IT Solutions</h4>
            <h6>
              Innovative, cutting-edge technologies, user-friendly, customized
              solutions
            </h6>
          </div>
        </div>
        <div class="boxes" data-aos="fade-left" data-aos-duration="1000">
          <div class="icon_area">
            <mat-icon>people</mat-icon>
          </div>
          <div class="box_title">
            <h4>Professional Staff</h4>
            <h6>
              Highly qualified, collaborating seamlessly, focused on quality and
              teamwork.
            </h6>
          </div>
        </div>
        <div class="boxes" data-aos="fade-right" data-aos-duration="1000">
          <div class="icon_area">
            <mat-icon> business</mat-icon>
          </div>
          <div class="box_title">
            <h4>State-of-the-Art Infrastructure</h4>
            <h6>
              Excellent infrastructure with a comfortable environment for the
              company.
            </h6>
          </div>
        </div>
        <div class="boxes" data-aos="fade-left" data-aos-duration="1000">
          <div class="icon_area">
            <mat-icon>headset_mic</mat-icon>
          </div>
          <div class="box_title">
            <h4>24/7 Support</h4>
            <h6>
              Our priority is to ensure client satisfaction. We offer reliable
              assistance around the clock
            </h6>
          </div>
        </div>
        <div class="boxes" data-aos="fade-right" data-aos-duration="1000">
          <div class="icon_area">
            <mat-icon> monetization_on</mat-icon>
          </div>
          <div class="box_title">
            <h4>Affordable Price</h4>
            <h6>
              We understand the importance of budget-friendly solutions without
              compromising on quality.
            </h6>
          </div>
        </div>
      </div>
    </div>
    <div class="contents" id="image_content">
      <img
        src="assets/aboutus.webp"
        alt="macreel-infosoft-about"
        title="macreel-infosoft-about"/>
      <img src="assets/graph.png" alt="Graph" id="graph_img" title="Graph"/>
    </div>
  </div>

  <div class="our_team">
    <div class="title">
      <h6 class="head_title">Meet Our Advisers</h6>
      <h4>
        Our team comprises talented individuals who bring their expertise and
        creativity <br />
        to every project. From experienced developers and designers to strategic
        marketers and project managers, <br />
        each member of our team is dedicated to achieving excellence and
        exceeding your expectations.
      </h4>
    </div>

    <div class="team_card_area">
      <div class="team_card">
        <div class="profile_img">
          <img
            src="assets/team-1.jpg"
            alt="Macreel Infosoft Chairman"
            title="NR Tyagi Mareel Infosoft Chairman"
          />
        </div>
        <div class="details">
          <h6>NR Tyagi</h6>
          <h4>(Chairman)</h4>
        </div>
        <!-- <div class="overflow"></div> -->
      </div>
      <div class="team_card">
        <div class="profile_img">
          <img
            src="assets/team-2.jpg"
            alt="Director of Macreel Infosoft Manish Tyagi"
            title="Manish Tyagi"
          />
        </div>
        <div class="details">
          <h6>Manish Tyagi</h6>
          <h4>(Director)</h4>
        </div>
        <!-- <div class="overflow"></div> -->
      </div>

      <div class="team_card">
        <div class="profile_img">
          <img
            src="assets/priyankas.jpeg"
            alt="Priyanka Maindolia"
            title="Priyanka Maindolia"
          />
        </div>
        <div class="details">
          <h6>Priyanka Maindolia</h6>
          <h4>(Director)</h4>
        </div>
        <!-- <div class="overflow"></div> -->
      </div>
      <div class="team_card">
        <div class="profile_img">
          <img src="assets/team-3.jpg" alt="Himanshu gupta" title="Himanshu Gupta" />
        </div>
        <div class="details">
          <h6>Himanhsu Gupta</h6>
          <h4>(HR Head)</h4>
        </div>
        <!-- <div class="overflow"></div> -->
      </div>
    </div>
  </div>
</div>
