<div class="our_team">
  <div class="title">
    <h1>Meet Our Advisers</h1>
    <h4>
      Our team comprises talented individuals who bring their expertise and
      creativity <br />
      to every project. From experienced developers and designers to strategic
      marketers and project managers, <br />
      each member of our team is dedicated to achieving excellence and
      exceeding your expectations.
    </h4>
  </div>

  <div class="team_card_area">
    <div class="team_card">
      <div class="profile_img">
        <img src="../../../assets/team-1.jpg" alt="Macreel Infosoft Chairman"
          title="NR Tyagi Mareel Infosoft Chairman" />
      </div>
      <div class="details">
        <h6>NR Tyagi</h6>
        <h4>(Chairman)</h4>
      </div>
      <!-- <div class="overflow"></div> -->
    </div>
    <div class="team_card">
      <div class="profile_img">
        <img src="../../../assets/team-2.jpg" alt="Director of Macreel Infosoft Manish Tyagi" title="Manish Tyagi" />
      </div>
      <div class="details">
        <h6>Manish Tyagi</h6>
        <h4>(Director)</h4>
      </div>
      <!-- <div class="overflow"></div> -->
    </div>

    <div class="team_card">
      <div class="profile_img">
        <img src="../../../assets/priyankas.jpeg" alt="Himanshu Gupta HR Lead Macreel Infosoft"
          title="Priyanka Maindolia" />
      </div>
      <div class="details">
        <h6>Priyanka Maindolia</h6>
        <h4>(Director)</h4>
      </div>
      <!-- <div class="overflow"></div> -->
    </div>
    <div class="team_card">
      <div class="profile_img">
        <img src="../../../assets/team-3.jpg" alt="Himanshu Gupta" title="Himanshu Gupta" />
      </div>
      <div class="details">
        <h6>Himanhsu Gupta</h6>
        <h4>(HR Head)</h4>
      </div>
      <!-- <div class="overflow"></div> -->
    </div>
  </div>
</div>