<div class="our_team">
  <div class="title">
    <h1 data-aos="fade-left" data-aos-duration="1000">Meet Our Advisers</h1>
    <h6 data-aos="fade-left" data-aos-duration="1000">
      Our team comprises talented individuals who bring their expertise and
      creativity <br />
      to every project. From experienced developers and designers to strategic
      marketers and project managers, <br />
      each member of our team is dedicated to achieving excellence and
      exceeding your expectations.
    </h6>
  </div>

  <div class="team_card_area">
    <div class="team_card" data-aos="fade-left" data-aos-duration="1000">
      <div class="profile_img">
        <img
          src="assets/team-1.jpg"
          alt="Macreel Infosoft Chairman"
          title="NR Tyagi Mareel Infosoft Chairman"
        />
      </div>
      <div class="details">
        <h1>NR Tyagi</h1>
        <h4>Chairman</h4>
      </div>
      <!-- <div class="overflow"></div> -->
    </div>
    <div class="team_card" data-aos="fade-right" data-aos-duration="1000">
      <div class="profile_img">
        <img
          src="assets/team-2.jpg"
          alt="Director of Macreel Infosoft Manish Tyagi"
          title="Manish Tyagi"
        />
      </div>
      <div class="details">
        <h1>Manish Tyagi</h1>
        <h4>Director</h4>
      </div>
      <!-- <div class="overflow"></div> -->
    </div>

    <div class="team_card" data-aos="fade-left" data-aos-duration="1000">
      <div class="profile_img">
        <img
          src="assets/priyankas.jpeg"
          alt="Himanshu Gupta HR Lead Macreel Infosoft"
          title="Himanshu Gupta Macreel"
        />
      </div>
      <div class="details">
        <h1>Priyanka Maindolia</h1>
        <h4>Director</h4>
      </div>
      <!-- <div class="overflow"></div> -->
    </div>
    <div class="team_card" data-aos="fade-right" data-aos-duration="1000">
      <div class="profile_img">
        <img src="assets/team-3.jpg" alt="" />
      </div>
      <div class="details">
        <h1>Himanhsu Gupta</h1>
        <h4>HR Lead</h4>
      </div>
      <!-- <div class="overflow"></div> -->
    </div>
  </div>
</div>