<div class="main">
  <div class="left_box">
    <h1>
      Streamlining Success: Our <br />
      Organizational Structure
    </h1>
    <p>
      At Macreel Infosoft Pvt. Ltd., our Organizational Structure is designed to
      foster innovation, collaboration, and excellence across all levels. We
      believe that a well-defined structure is key to delivering
      <i><b>Top IT solutions</b></i> that meet the diverse needs of our clients.
    </p>
    <p>
      An efficient organizational structure is the backbone of any successful
      business, defining clear roles and responsibilities, streamlining
      communication, and fostering collaboration. It ensures that every team
      member knows their place within the hierarchy, allowing for smooth
      workflow and decision-making. Whether flat or hierarchical, the right
      structure aligns with company goals and drives productivity.
    </p>
  </div>
  <div class="right_box">
    <img src="assets/organization.png" alt="" />
  </div>
</div>
<div class="img">
  <img src="assets/organazation-structure.jpeg" alt="" />
</div>
