/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Liter&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}
/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

.title {
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 50px;
//   margin-bottom: 80px;

  h1
 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 40px;
  }
  .head_title{
    font-size: 2rem;
    font-weight: 600;
    line-height: 40px;
  }
  h4{
    color: gray;
  }
}


.lh-normal{
  line-height: normal !important;
}

@media screen and (max-width:1100px) {
  .flex-reverse{
    flex-direction: column-reverse !important;
  }
}



.main {
  width: 100%;
  height: auto;
  float: left;
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 50px;

  .text_area {
    width: 50%;
    height: 100%;
    // padding: 18px;

    h1 {
      font-size: 2.2rem;
      font-weight: bold;
      line-height: 45px;
      color: black;
    }
    p {
      font-size: 1rem;
      line-height: 25px;
      color: rgb(87, 87, 87);
    }
  }
  .img_area {
    max-height: 450px;
    overflow: hidden;
    aspect-ratio: 1 / 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: 0.5s;
    }
    img:hover {
      transform: scale(1.02);
    }
  }
}
@media(max-width:1100px) and (min-width:0px){
  .main{
      width: 100%;
      height: auto;
      flex-direction: column;
      gap: 0px;
      
      .text_area{
          width: 100%;
      }
      .img_area{
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 18px;
      }
  }
}